.post {
  display: flex;
  align-items: right;
  border-bottom: 1px solid var(--twitter-background);
  padding-bottom: 10px;
  margin-left: 30%;
}

.post-body {
  padding: 10px;
}

.post-body > img {
  border-radius: 20px;
}

.post-footer {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.numLikes {
  margin-right: 6px;
  font-weight: 1000;
  font-size: 1.25rem;
}

.post-footer p {
  display: flex;
}

.post-headerDescription {
  margin-bottom: 10px;
  font-size: 15px;
}

.post-headerText > h3 {
  font-size: 15px;
  margin-bottom: 5px;
}

.post-badge {
  font-size: 14px !important;
  color: var(--twitter-color);
}

.post-headerSpecial {
  font-weight: 600;
  font-size: 12px;
  color: gray;
}

.post-avatar {
  padding: 20px;
}
