.box {
  display: flex;
  width: 40vw;
  margin-bottom: 20px;
  min-width: 600px;
  margin-left: auto;
  margin-right: auto;
  min-height: 200px;
  background: rgba(14, 12, 12, 0.15);
  border-radius: 20px;
}

.avatar {
  display: flex;
  width: 10%;
  justify-content: center;
  padding: 15px;
}

.post-box {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.post-header {
  display: flex;
  margin-top: 5px;
  height: 35px;
  padding-left: 20px;
  padding-top: 20px;
  width: 100%;
  /* padding-bottom: -25px; */
}

.post-tickerbox-green {
  display: flex;
  flex-direction: row;
  height: 60px;
  margin-top: 15px;
  margin-bottom: 15px;
  width: 90%;
  background-color: rgba(134, 255, 123, 0.05);
  border-radius: 15px;
}

.post-tickerbox-red {
  display: flex;
  flex-direction: row;
  height: 60px;
  margin-top: 15px;
  margin-bottom: 15px;
  width: 90%;
  background-color: rgba(255, 4, 4, 0.05);
  border-radius: 15px;
}

.post-tickername {
  display: flex;
  height: 100%;
  width: 33%;
  padding-top: 20px;
  justify-content: center;
}

.post-targets p {
  display: flex;
  height: 100%;
  width: 200px;
  margin-top: -55px;
}

.post-confidence {
  display: flex;
  align-items: center;
  font-size: large;
}

.styling-header {
  font-size: large;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 545;
  margin-right: 20px;
  height: 35px;
  margin-bottom: 0;
  padding-bottom: 0;
}

.time-posted {
  font-size: large;
  font-weight: 300;
  color: grey;
  font-family: Arial, Helvetica, sans-serif;
  padding-left: 20px;
  height: 35px;
  font-size: medium;
}

.post-footer {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.post-reasoning {
  width: 90%;
  margin-bottom: 15px;
}

.post-picture {
  display: flex;
  width: 90%;
  margin-bottom: 15px;
}
